/********************************
* Portrolio Alpha v1.1.1
	* Plugin description to go here
	* URL to go here
	*
	* Author: Tony Barnes
	* http://tonybarnes.me
	* No license or copyright - do what you like
	*
	* Last updated: 07/05/2013
	* Original Release Date: XX/XX/2013
  ********************************
  plugin styles - full
**********************************/
/*stream*/
#streamWrapper {
	display:inline-block;
	position:relative;
	width:100%;
	
	/*loading*/
	#loading {
		position:relative;
		top:0;
		color:#555;
		width:100%;
		text-align:center;
		min-height:20px;
		margin:0 0 35px 0;
	}
	
	div {
		
		&.col2 {
			div.item {
				width:49.360%;
				margin:0.32%;
			}
		}
		
		&.col3 {
			div.item {
				width:32.673%;
				margin:0.32%;
			}
		}
		
		&.col6 {
			div.item {
				width:16.0270%; /*tbc*/
				margin:0.32%; /*tbc*/
			}
		}
    &.dimActive {			
			&.hovered {
				position:relative;
				z-index:100;	
			}
		}
		/*stream item*/
		&.item {
					
			float:left;
			overflow:hidden;
			opacity:0.95;
			-webkit-transition: opacity 0.3s ease-in-out;
			-moz-transition: opacity 0.3s ease-in-out;
			-o-transition: opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;	
			transition: opacity 0.3s ease-in-out;
			
			img {
				display:block;
				width:100%;				
			}
			
			span {
				display:none;
			}
			
		}
		
		/*item hover*/
		&.dimActive div.hovered {
			opacity:100;
		}
		
		/*item hover/active dim*/
		&.dimActive div.active {
			opacity:0.40;
		}
		&.dimActive div.hovered {
			position:relative;
			z-index:100;
			opacity:100;
		}
		
	
	}




/*tooltip*/
.toolTip {
	display:none;
	/*background:#7DB9E8;*/
	color:#FFF;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:5px 0;
	z-index:99;
	/*opacity:0;*/
	box-shadow:0 2px 2px #000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;	
	transition: all 0.3s ease-in-out;
	
	/*tooltip bg and title*/
	.bg,
	span.title {
		display:block;
		position:absolute;
		bottom:0;
	}
		
	.bg {
		width:100%;
		min-height:25px;
		z-index:9;
		opacity:0.80;
	}
	
	span.title {
		z-index:10;
		bottom:3px;
		padding:0 5px;
	}
	
}

/*toolTip fixed btm*/
.toolTipFixedBtm {
  position:fixed;
	span.bg {
		min-height:35px;
	}
	span.title {
		bottom:8px;	
		padding:0 10px;
	}
}

/*overlay*/
	div.overlay {
		display:none;
		z-index:3;
		width:100%;
		background:#000;
		min-width:100%;
		max-width:100%;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;	
		transition: all 0.3s ease-in-out;
	}
	
	/*overlay top*/
	div.overlayTop {
		position:fixed;
		top:0;
	}	
	
	/*overlay bottom*/
	div.overlayBtm {
	  position:fixed;
		bottom:0;
	}	

/*colour schemes*/
	/*light blue*/
	.clrSchemeLightBlue {		
		div.item {				
			span.bg {
				background:#7DB9E8;
			}
			span.title {
				color:#FFF;
				text-shadow:0 2px 2px #333;
			}
		}
	}
	/*dark blue*/
	.clrSchemeDarkBlue {
	  div.overlayTop {
		
		background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(10,57,80,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(10,57,80,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(10,57,80,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(10,57,80,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(10,57,80,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(10,57,80,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#0a3950',GradientType=0 ); /* IE6-9 */



		
		}
	  div.overlayBtm {
			background: -moz-linear-gradient(top,  rgba(10,57,80,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,57,80,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(10,57,80,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(10,57,80,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(10,57,80,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(10,57,80,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3950', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
			

		
		

		}
	  div.item {
			span.bg {
				background:#0a3950;
			}
			span.title {
				color:#FFF;
				text-shadow:0 2px 2px #333;
			}	
	  }
	}
	/*black*/
	.clrSchemeBlack {
	  div.overlayTop {
		
		
		}
	  div.overlayBtm {
		}
	  div.item {
			span.bg {
				background:#333;
			}
			span.title {
				color:#FFF;
				text-shadow:0 2px 2px #333;
			}	
	  }
	}
	/*white - remove?*/
	.clrSchemeWhite {
	  div.overlayTop {
		}
	  div.overlayBtm {
	  }
	div.item {
			span.bg {
				background:#F3F3F3;
				opacity:0.90;
			}	
			span.title {
				color:#222;
				text-shadow:0 2px 2px #CCC;
			}
		}
  }	
	/*grey*/
	.clrSchemeGrey {
	  div.overlayTop {
		}
	  div.overlayBtm {
		}
	  div.item {
			span.bg {
				background:#666;
			}
			span.title {
				color:#F3F3F3;
				text-shadow:0 2px 2px #000;
			}	
		}
	}
}

/*********
responsive
**********/
@media (max-width: 1000px) {
	.wrapper {
	  width:100%;	
	}
}

@media (max-width: 768px) {
	#streamWrapper {
	/*columns*/
		/*2col*/
		div.col2 div.item {
			float:none;
			width:97%;
			margin:1.7% auto;
		}
		/*3col*/
		div.col3 div.item {
			width:49.360%;
		}
		/*6col*/
		div.col6 div.item {
			width:24.3622%; /*finalised in chrome...*/
		}
	}
	
}

@media (max-width: 480px) {
	#streamWrapper {
		text-align:center;
		
		.streamInnerWrapper {
			max-width:100%;
			margin:0 auto;
			position:relative;
		}
	}
	
	#streamWrapper {
	div.overlay,
	div.item {
		width:100%;
		margin:0;
	}	
	
	/*stream item*/
	div.item {
		width:100%;
		max-width:100%;
	}
	
	div.item img {
		height:auto;
		width: auto;
		position: relative;
		margin: 0 auto;
	}

	/*overlay*/
  div.overlay {
		display:block;
	}

	/*columns*/
		/*2col*/
		div.col2 div.item {
			width:100%;
			margin:0 0 1% 0;
		}
		/*3col*/
		div.col3 div.item {
			width:100%;
			margin:0;
		}
		/*6col*/
		div.col6 div.item {
			width:49.360%; /*finalised in chrome...*/
		}
	}
}